.content-container {
    max-height: calc(100% - 55px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.cards-container {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 8rem;
    grid-template-columns: repeat(auto-fill, minmax(13.5rem, 1fr));
    padding-bottom: 100px;
}

.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    cursor: pointer;
}

.flexs {
    justify-content: flex-end;
}

::ng-deep .custom-pond {
    .filepond--drop-label {
        background: white!important;
    }

    .filepond--credits {
        display: none;
    }
}