<div class="anuncio" *ngIf="dataDialog.viewImage">
    <img src="{{ _authService.url }}/Containers/itlm-web/download/{{ dataDialog.img }}" alt="">
</div>

<div class="post-container" *ngIf="!dataDialog.viewImage">
    <div class="img-container">
        <img src="{{ _authService.url }}/Containers/itlm-web/download/{{ dataDialog.img }}" alt="">
    </div>
    <div class="content-container" [innerHTML]="dataDialog.content">
    </div>
</div>