.img-container {
    width: 100%;
    height: 400px;
    max-height: 400px;

    img {
        width: 100%;
        height: -webkit-fill-available;
    }
}

.content-container {
    padding: 24px;
}

.anuncio {
    width: 100%;
    img {
        width: -webkit-fill-available;
    }
}