.content-container {
    max-height: calc(100% - 55px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.cards-container {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    padding-bottom: 100px;
}

.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    cursor: pointer;
}

.flexs {
    justify-content: flex-start;
}

.adverti-image{
    width: 80px;
    height: 80px;
    
    img {
        width: -webkit-fill-available;
    }
}