<div class="full-container">
    <!-- Spinner -->
    <div *ngIf="loading" class="spinner-full-container">
        <mat-spinner mode="indeterminate" class="primary-spinner"></mat-spinner>
    </div>

    <!-- Title row -->
    <div class="row">
        <div class="col-12 col-md-8 pb-3">
            <div class="title-container">CARRERAS {{ status == 'online' ? 'EN LINEA' : 'ARCHIVADAS' }}</div>
        </div>
        <div class="row-buttons col-12 col-md-4 pb-3">
            <div class="searchbar-container">
             <input type="text" class="searchbar" matInput [formControl]="searchbar" placeholder="Buscar...">
            </div>
            <div class="button-container">
                <button *ngIf="status == 'online'" mat-flat-button color="warn" class="delete-color" (click)="status='archived';loadData('');">Archivo</button>
                <button *ngIf="status == 'archived'" mat-flat-button color="warn" class="primary-color" (click)="status='online';loadData('');">En linea</button>
            </div>
            <div class="button-container">
                <button type="submit" mat-flat-button color="primary" class="primary-color" (click)="openData()">Nuevo</button>
            </div>
        </div>
    </div>

    <div class="no-data-container" *ngIf="!careers.length && !loading">
        <p class="title-container">Información no encontrada.</p>
    </div>

    <!-- Content -->
    <div 
        *ngIf="!loading"
        class="content-container"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="25"
        [scrollWindow]="false"
        (scrolled)="onScroll()">
        <div class="cards-container">
            <!-- CARD -->
            <mat-card class="example-card" *ngFor="let career of careers">
                <mat-card-title-group>
                    <mat-card-title>{{ career.name }}</mat-card-title>
                    <mat-card-subtitle>{{ formateDate(career.createdAt) }}</mat-card-subtitle>
                </mat-card-title-group>
                <mat-card-content>
                    <div class="row">
                        <div class="row-buttons flexs col-12">
                            <div class="button-container">
                                <button mat-mini-fab class="delete-color" (click)="perfomArchive(career.id)"><mat-icon>bookmark</mat-icon></button>
                            </div>
                            <div class="button-container">
                                <button mat-mini-fab color="warn" (click)="perfomDelete(career.id)"><mat-icon>delete</mat-icon></button>
                            </div>
                            <div class="button-container">
                                <button mat-mini-fab class="primary-color" (click)="openData(career)"><mat-icon>edit</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <!-- END CARD -->
        </div>
    </div>
</div>