
// ANGULAR EDITOR
::ng-deep .custom-quill {
    .angular-editor-toolbar {
        background: none!important;
        border: none!important;
    }

    .angular-editor .angular-editor-wrapper {
       background: white!important;
       border-radius: 10px!important;
       
       .angular-editor-textarea{
           outline: none!important;
           border-radius: 10px!important;
       }
   }
}
// END ANGULAR EDITOR