
<div class="container">
    <div class="row">
        <div class="col-12 pb-4">
            <div class="title-container"> {{ isNew ? 'NUEVA' : 'EDITAR'}} PUBLICACION</div>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="perfomRequest()">
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-form-field appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input type="text" matInput formControlName="title">
                </mat-form-field>
            </div>
        </div>
    </form>

    <div class="col-12 col-md-12">
        <file-pond
            #myPond
            class="custom-pond"
            name="perfil"
            [options]="pondOptions"
            [files]="pondFiles"
            data-max-files="1"
            (onprocessfiles)="onFileUploaded($event)"
        >
        </file-pond>
    </div>

    <div class="pb-2">
        <angular-editor class="custom-quill" [(ngModel)]="htmlContent" [config]="editorConfig"></angular-editor>
    </div>

    <div class="col-12 buttons-row">
        <div class="button-container">
            <button type="button" mat-flat-button color="warn" class="delete-color" (click)="closeDialog()">Cancelar</button>
        </div>
        <div class="button-container">
            <button type="button" mat-flat-button color="primary" class="primary-color" (click)="perfomRequest()">Guardar</button>
        </div>
    </div>
</div>
