<div class="loginContainer">
    <div class="cardContainer row shadow">
        <div class="col-md-6 imageContainer">
            <img src="../../../../../../assets/images/sign-in.svg" width="350px" alt="Login image">
        </div>
        <div class="col-12 col-md-6 formSection">
            <p>Bienvenido!</p>
            <div class="formContainer">
                <form [formGroup]="form" (ngSubmit)="perfomRequest()">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Correo electronico o usuario</mat-label>
                            <input type="text" matInput placeholder="Correo electronico o usuario" formControlName="username">
                          </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Password" formControlName="password">
                          </mat-form-field>
                    </div>

                    <button mat-raised-button type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>