.loginContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    width: 850px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
}

.formSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 0 8px 8px 0;
    background-color: var(--primary-color);

    p {
        color: white;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    button {
        width: 100%;
    }

    .formContainer {
        width: 80%;
    }

    mat-form-field {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .cardContainer {
        width: 85%;
    }

    .imageContainer {
        display: none;
    }

    .formSection {
        border-radius: 8px;
    }
}