.container {
    padding: 0;
    margin: 0;
}

.inputFile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 51px;
    cursor: pointer;
    border-radius: 5px;

    label {
        position: absolute;
        font-size: inherit;
        color: #8c8585;
        font-weight: 400;
        line-height: 1.125;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        letter-spacing: normal;
    }

    input {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

file-pond .filepond--credits {
    display: none!important;
}

::ng-deep .custom-pond {
    .filepond--drop-label {
        background: white!important;
    }

    .filepond--credits {
        display: none;
    }
}