<div class="container">
    <div class="row">
        <div class="col-12 pb-4">
            <div class="title-container"> {{ isNew ? 'NUEVO' : 'EDITAR'}} MAESTRO</div>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="perfomRequest()">
        <div class="row">
            <div class="col-6 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Prefijo</mat-label>
                    <mat-select formControlName="prefix">
                        <mat-option value="Lic.">Lic.</mat-option>
                        <mat-option value="Ing.">Ing.</mat-option>
                        <mat-option value="Arq.">Arq.</mat-option>
                        <mat-option value="Tec.">Tec.</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre Completo</mat-label>
                    <input type="text" matInput formControlName="name">
                </mat-form-field>
            </div>

            <div class="col-6 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Correo electronico</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
            </div>

            <div class="col-6 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <input type="text" matInput formControlName="phone">
                </mat-form-field>
            </div>

            <div class="col-12 col-md-12">
                <mat-form-field appearance="fill" class="fullW">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput class="no-resize" placeholder="Descripción..." formControlName="description" rows="3" cols="30"></textarea>
                </mat-form-field>
            </div>

            <div class="col-12 col-md-12">
                <file-pond
                    #myPond
                    name="perfil"
                    class="custom-pond"
                    [options]="pondOptions"
                    [files]="pondFiles"
                    data-max-files="1"
                    (onprocessfiles)="onFileUploaded($event)"
                >
                </file-pond>
            </div>
    
            <div class="col-12 buttons-row">
                <div class="button-container">
                    <button type="button" mat-flat-button color="warn" class="delete-color" (click)="closeDialog()">Cancelar</button>
                </div>
                <div class="button-container">
                    <button type="submit" mat-flat-button color="primary" class="primary-color">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>