
<!-- NAV LIST ITEM -->
<mat-toolbar class="main-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    
    
    <div class="row-user">
        <span>{{ user.name }}</span>
        <button mat-icon-button mat-button [matMenuTriggerFor]="profileMenu" class="example-icon icon-container" aria-label="Example icon-button with share icon">
            <mat-icon>person</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-drawer-container class="main-principal" autosize>
    <!-- Menu options -->
    <mat-drawer #drawer class="main-sidenav" mode="side">
        <div class="menu-container" *ngFor="let option of tmpRoutes" [routerLink]="'/admin' + option.route" routerLinkActive="onSelected">
            <div class="option-container">
                <label class="option-title">{{ option.title }}</label>
                <div class="option-icon">
                    <mat-icon>{{ option.icon }}</mat-icon>
                </div>
            </div>
        </div>
    </mat-drawer>

    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>


<mat-menu #profileMenu="matMenu" class="mat-menu-container">
    <div style="padding: 10px;">
        <button type="submit" mat-flat-button color="primary" class="primary-color" (click)="logOut()">Cerrar sesión</button>
    </div>
  </mat-menu>