.main-principal {
    background-color: #f9f9f9;
    overflow: hidden;
    min-height: fit-content;
    width: 100%;
    height: 100vh;
}
  
.sidenav-content {
    height: 100%;
}

.main-sidenav {
    width: 165px;
    padding: 2px 5px;
}

.main-toolbar {
    background-color: var(--primary-color);
    color: white;
    height: 55px;
    justify-content: space-between;
}

.list-option:hover {
    background-color: var(--primary-color);
    color: white;
}

.menu-container:hover {
    background-color: var(--primary-color);
    color: white;
}

.menu-container {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 1px;

    div, label {
        cursor: pointer;
    }

    .option-container{
        display: flex;
        justify-content: space-between;
    }
}

.spacer {
    flex: 1 1 auto;
}

.onSelected {
    background-color: var(--primary-color);
    color: white;
}

.icon-container {
    background-color: white;
    color: var(--primary-color);
}

.row-user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        padding-right: 10px;
    }
}