<body>
    <header class="header">
        <nav>
            <a href="public#anuncios">Anuncios</a>
            <a href="public#publicaciones">Publicaciones</a>
            <a href="public#maestros">Maestros</a>
            <a href="public#nosotros">Nosotros</a>
            <a href="public#contacto">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>{{ career && career.name ? career.name : 'Carrera no encontrada' }}</h1>
            <h2>Instituto Tecnológico De Los Mochis</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>

    <main>
        <section id="anuncios" class="anuncios" data-aos="fade-up" data-aos-delay="100">
            <div class="contenedor">
                <h2 class="titulo">Anuncios</h2>
                <div class="no-data-container" *ngIf="!advertisements.length">
                    <img src="../../../../assets/images/empty.svg" alt="" width="200px">
                    <div>Información no encontrada.</div>
                </div>

                <div class="galeria-port" *ngIf="advertisements.length">
                    <div data-aos="fade-up" data-aos-delay="100" class="imagen-port" *ngFor="let advertisement of advertisements" (click)="openData(advertisement)">
                        <img src="{{ _authService.url }}/Containers/itlm-web/download/{{ advertisement.img }}" alt="">
                        <div class="hover-galeria">
                            <img src="../../../../assets/img/icono1.png" alt="">
                            <p>{{ advertisement.title }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="publicaciones" class="about-services" data-aos="fade-up" data-aos-delay="100">
            <div class="contenedor">
                <h2 class="titulo">Publicaciones</h2>
                <div class="no-data-container" *ngIf="!posts.length">
                    <img src="../../../../assets/images/empty.svg" alt="" width="200px">
                    <div>Información no encontrada.</div>
                </div>

                <swiper class="mySwiper" [config]="config" *ngIf="posts.length">
                    <!-- <ng-template swiperSlide *ngFor="let post of posts">
                        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100" style="cursor: pointer;" (click)="openPost(post)">
                            <div class="member d-flex align-items-start" style="height: 200px;">
                                <div class="pic w120"><img src="{{ _authService.url }}/Containers/itlm-web/download/{{ post.img }}" class="img-fluid" alt=""></div>
                                <div class="member-info">
                                    <h4>{{ post.title }}</h4>
                                    <span>{{ formateDate(post.createdAt) }}</span>
                                    <p>{{ post.description || '-' }}</p>
                                </div>
                            </div>
                        </div>
                    </ng-template> -->
                    <ng-template swiperSlide *ngFor="let post of posts">
                        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100" style="cursor: pointer;" (click)="openPost(post)">
                            <div class="member row">
                                <div class="col-6">
                                    <div class="member-img-container">
                                        <img src="{{ _authService.url }}/Containers/itlm-web/download/{{ post.img }}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="member-info">
                                        <h4>{{ post.title }}</h4>
                                        <span>{{ formateDate(post.createdAt) }}</span>
                                        <p>{{ post.description || '-' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </section>

        <section id="maestros" class="contenedor" data-aos="fade-up" data-aos-delay="100">
            <h2 class="titulo">Nuestros Maestros</h2>
            <div class="no-data-container" *ngIf="!teachers.length">
                <img src="../../../../assets/images/empty.svg" alt="" width="200px">
                <div>Información no encontrada.</div>
            </div>

            <div class="container team" *ngIf="teachers.length">
                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100" *ngFor="let teacher of teachers">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="{{ _authService.url }}/Containers/itlm-web/download/{{ teacher.srcProfile }}" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>{{ teacher.prefix || ''}} {{ teacher.name }}</h4>
                                <span>{{ teacher.phone }}</span>
                                <p>{{ teacher.description || '-'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="nosotros" class="contenedor sobre-nosotros" data-aos="fade-up-left" data-aos-delay="100">
            <h2 class="titulo">Nosotros</h2>
            <div class="no-data-container" *ngIf="!career || (career && !career.mision && !career.vision)">
                <img src="../../../../assets/images/empty.svg" alt="" width="200px">
                <div>Información no encontrada.</div>
            </div>
            <div class="contenedor-sobre-nosotros" *ngIf="career && (career.mision || career.vision)">
                <img src="../../../../assets/images/nosotros.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Misión</h3>
                    <p>
                        {{ career && career.mision ? career.mision : '-' }}
                    </p>
                    <h3><span>2</span>Visión</h3>
                    <p>
                        {{ career && career.vision ? career.vision : '-' }}
                    </p>
                </div>
            </div>
        </section>

        <footer id="contacto">
            <div class="contenedor-footer">
                <div class="content-foo">
                    <h4>Phone</h4>
                    <p>{{ career && career.phone ? _generalFunctions.processPhone(career.phone) : '-' }}</p>
                </div>
                <div class="content-foo">
                    <h4>Email</h4>
                    <p>{{ career && career.email ? career.email : '-' }}</p>
                </div>
                <div class="content-foo">
                    <h4>Location</h4>
                    <p>Los Mochis, Sinaloa</p>
                </div>
            </div>
            <h2 class="titulo-final">&copy; ITLM | INFORMÁTICA</h2>
        </footer>
    </main>
</body>