@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
@import 'node_modules/aos/src/sass/aos.scss';

:root {
    --primary-color: #075aeae1;
}

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 !important;
    padding: 0 !important;
    // overflow: hidden !important;
    font-family: 'Sarabun', sans-serif!important;
}

.fullWScreen {
    width: 100vw;
}

.fullW {
    width: 100%;
}

.fullHScreen {
    height: 100vh;
}

.full-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

.title-container {
    font-size: 1.6rem;
    font-weight: 700;
    color: #505c6e;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.row-buttons {
    display: flex;
    justify-content: flex-end;
}

.no-data-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 90%;
}

.mat-dialog-container {
    max-height: 90vh !important;
    overflow: auto !important;
}

@media only screen and (max-width: 600px) {
    .mat-dialog-container {
        min-width: 90vw;
    }
    .cdk-overlay-pane {
        max-width: 90vw !important;
    }
}

.panelModal {
    mat-dialog-container {
        background-color:#ebebeb;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        padding: 15px;
    }
}

.imagePanel {
    mat-dialog-container {
        padding: 0;
        overflow: hidden;
    }
}

.postPanel {
    mat-dialog-container {
        padding: 0;
    }
}

.primary-color {
    background-color: var(--primary-color)!important;
}

.delete-color {
    background-color: #878484!important;
}

.green-color {
    background-color: #3d9d3d!important;
}

.button-container {
    padding-left: 10px;
}

//  MAT FORM FIELD
mat-form-field {
    width: 100%;
    border-radius: 10px;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0,0,0,.6);;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #ffffff;
    border-radius: 5px!important;
}

.mat-form-field-underline{
    display: none;
}
//  END MAT FORM FIELD


// SEARCH BAR

.searchbar {
    width: 150px!important;
    background-color: #878484!important;
    color: white!important;
    border: none!important;
    padding: 8px!important;
    border-radius: 4px;
    outline: none;
}

.searchbar::placeholder {
    color: white;
}
// END SEARCH BAR

// SNACKBARS 
.toast-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.toast-red {
    background-color: #F44336;
    color: #fff;
}

.toast-yellow {
    background-color: #F5A623;
    color: #fff;
}

.toast-green {
    background-color: #089000;
    color: #fff;
}

.toast-blue {
    background-color: #0077FF;
    color: #fff;
}

.toast-gray {
    background-color: gray;
    color: #FFF;
}
// --------------- 

// SCROLLBAR
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 3px;
}
// END SCROLLBAR

.spinner-full-container {
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: 99;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;

    mat-spinner .mat-progress-spinner circle, .mat-spinner circle {
        stroke: var(--primary-color);
    }
}

.buttons-row {
    display: flex;
    justify-content: flex-end;
    // padding: 0;
}

.searchbarSuffix {
    height: 31px;
    width: 35px;
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0;
    background-color: transparent;
    color: var(--brown-grey) !important;
}

.fsize22 {
    font-size: 22px !important;
}