<div class="container">
    <div class="row">
        <div class="col-12 pb-4">
            <div class="title-container"> {{ isNew ? 'NUEVO' : 'EDITAR'}} ADMINISTRADOR</div>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="perfomRequest()">
        <div class="row">
            <div class="col-6 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre Completo</mat-label>
                    <input type="text" matInput formControlName="name">
                </mat-form-field>
            </div>

            <div class="col-6 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre de usuario</mat-label>
                    <input type="text" matInput formControlName="username">
                </mat-form-field>
            </div>

            <div class="col-6 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input type="text" matInput formControlName="password">
                </mat-form-field>
            </div>

            <div class="col-6 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Correo electronico</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
            </div>

            <div class="col-6 col-md-4">
                <mat-form-field appearance="fill" class="custom-form-field ">
                    <mat-label for="careerWrapper" class="inputLabel">Carrera *</mat-label>
                    <input type="text" matInput placeholder="career" id="careerWrapper" class="fullHeight" #careerWrapper formControlName="career" [matAutocomplete]="autoCareer">
                    <button type="button" class="searchbarSuffix fsize22" *ngIf="form.get('career')!.value" matSuffix aria-label="Clear" (click)="form.get('career')!.setValue('')">
                        <span class="material-icons">close</span>
                    </button>
                </mat-form-field>

                <mat-autocomplete #autoCareer="matAutocomplete" [displayWith]="displayFn">
                    <mat-option disabled>Select one career</mat-option>
                    <mat-option *ngFor="let career of (careerOptions | async)" [value]="career">
                        <div class="buyerContainer">
                            <p>{{ career.name }}</p>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </div>

            <div class="col-6 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <input type="text" matInput formControlName="phone">
                </mat-form-field>
            </div>

            <div class="col-12 buttons-row">
                <div class="button-container">
                    <button type="button" mat-flat-button color="warn" class="delete-color" (click)="closeDialog()">Cancelar</button>
                </div>
                <div class="button-container">
                    <button type="submit" mat-flat-button color="primary" class="primary-color">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>